body {
  background-color: white;
  font-size: 16px;
  font-family: sans-serif;
  color: #595959;
}

/* general styles*/


h2 {
  margin: 2rem auto;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

.content-box {
  width: 100%;
  display: flex;
}

.vertical {
  flex-direction: column;
}

.large > .image-part{
  width: 60%;
  min-width: 60%;
  padding: 2rem 1.5rem;
}

.horizontal .small >.image-part{
  padding: 1rem 1rem;
  width: 35%;
  min-width: 35%;
}

video, .image-part img {
  max-width: 100%;
}


.content-box .text-part{
  display: flex;
  flex-direction: column;
}

.small >.text-part {
  justify-content: center;
}

.small .title, .small .text, .small .more-info, .title.small {
  margin: 0.25rem 0;
}

.vertical.content-box.small{
  width: 25%;
  margin: 0 1rem 1rem 0;
}

.vertical > .text-part{
  margin-top: 1rem;
}

/*header*/
header {
  display: flex;
  padding: auto 1.5rem;
  min-height: 2rem;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  height: 2rem;
  flex-grow: 1;
}

nav ul{
  display: flex;
  align-items: center;
}

nav ul li{
  margin: 0.5rem;
  list-style-type: none;
}

/*section one*/

#section-one {
  background-color: lightgrey;
}

#section-one  .large >.text-part {
  justify-content: center;
}

#section-one .title,#section-one .text,#section-one .more-info {
  width: 60%;
}

#section-one .more-info {
  background-color: #404040;
  color:white;
  text-align: center;
  padding: 0.5rem auto;
}

/*section two*/
#section-two h2 {
  margin-bottom: 1.5rem;
}

#section-two.large .text{
  margin-bottom: 2rem;
}

/*section three*/

.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 4.5rem 1rem 4.5rem;
}

#section-three > .title{
  text-align: center;
  width: 100%;
}


/*section four*/

#section-four > .title{
  text-align: center;
  width: 100%;
}

#section-four  video{
  margin-bottom: 1.5rem;
}

/*footer */

footer {
  display: flex;
  padding: 1rem 1.5rem 2rem 1rem;
  font-size: 0.8rem;
}
.copy {
  flex-grow: 1;
}

footer span {
  margin: 0 0.25rem;
}
