body {
  background-color: white;
  font-size: 16px;
  font-family: sans-serif;
  color: #595959;
}

/* general styles*/

div {
  border: 1px solid black;
}

h2 {
  margin: 2rem auto;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

.content-box {
  width: 100%;
  display: flex;
}

.vertical {
  flex-direction: column;
}

.large > .image-part{
  width: 60%;
  min-width: 60%;
  padding: 2rem 1.5rem;
}

.horizontal .small >.image-part{
  padding: 1rem 1rem;
  width: 35%;
  min-width: 35%;
}

video, .image-part img {
  max-width: 100%;
}


.content-box .text-part{
  display: flex;
  flex-direction: column;
}

.small >.text-part {
  justify-content: center;
}

.small .title, .small .text, .small .more-info, .title.small {
  margin: 0.25rem 0;
}

.vertical.content-box.small{
  width: 25%;
  margin: 0 1rem 1rem 0;
}

.vertical > .text-part{
  margin-top: 1rem;
}

.desctop {
  display: block;
}

.mobile {
  display: none;
}

/*header*/
header {
  display: flex;
  /*padding: auto 1.5rem;*/
  margin: auto 1.5rem;
  min-height: 2rem;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  height: 2rem;
  flex-grow: 1;
}

nav ul{
  display: flex;
  align-items: center;
}

nav ul li{
  margin: 0.5rem;
  list-style-type: none;
}

@media only screen and (max-width: 800px) {

  .desctop {
    display:none;
  }

  .logo {
    width: 25%;
    flex-grow: 0;
  }

  .mobile {
    display: block;
    flex-grow: 1;
  }

  nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
  }
}

/*section one*/

#section-one {
  background-color: lightgrey;
}

#section-one  .large >.text-part {
  justify-content: center;
}

#section-one .title,#section-one .text,#section-one .more-info {
  width: 60%;
}

#section-one .more-info {
  background-color: #404040;
  color:white;
  text-align: center;
  padding: 0.5rem auto;
}

@media only screen and (max-width: 800px) {

  .horizontal{
    flex-direction: column;
  }

  .large > .image-part{
    width: 100%;
    padding: 0;
  }

  .large > .text-part{
    padding: 2rem 1rem;
  }
  #section-one .title,#section-one .text,#section-one .more-info {
    width: 100%;
  }

  h1{
    margin: 0;
  }

  #section-one .text {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

/*section two*/
#section-two h2 {
  margin-bottom: 1.5rem;
}

#section-two.large .text{
  margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {

  .horizontal .small > .image-part{
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .horizontal .small > .text-part{
    margin: 1rem 1rem 4rem 1rem;
  }

  .horizontal .small > .image-part img{
    min-width: 100%;
  }

  .large > .text-part{
    padding: 1rem 1rem 0rem 1rem;
  }

}
/*section three*/

.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 4.5rem 1rem 4.5rem;
}

#section-three > .title{
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 800px) {

   h2{
    margin: 0;
  }
 .courses.desctop{
   display: none;
 }

 .courses.mobile{
   padding-top: 1rem;
   padding-bottom: 2rem;
   display: flex;
   flex-direction: column;
   margin: 0;
 }

 .courses.mobile span{
   background-color: lightgrey;
   padding: 1rem 0 2rem 1rem;
   margin-bottom: 0.5rem;
}
}

/*section four*/

#section-four > .title{
  text-align: center;
  width: 100%;
}

#section-four  video{
  margin-bottom: 1.5rem;
}

/*footer */

footer {
  display: flex;
  padding: 1rem 1.5rem 2rem 1rem;
  font-size: 0.8rem;
}
.copy {
  flex-grow: 1;
}

footer span {
  margin: 0 0.25rem;
}
